In [ ]:
import pymysql

sql = "select version()"
# sql = "show tables;"
# sql = "select * from students"
conn = pymysql.connect(host="aliyun", port=3306, user="chen", passwd="Cjl232032.", db="test_db",
                       charset="utf8")

cursor = conn.cursor()
cursor.execute(sql)
# res = cursor.fetchone()
# res2 = cursor.fetchmany(5)
# 修改游标位置，归零
# cursor.rownumber = 0
results = cursor.fetchall()
for i in results:
    print(i)
# print(res)
conn.close()

#### 捕获异常

In [ ]:
import pymysql

sql = "select * from students where studentNo = '014';"
sql1 = "insert into students(studentNo, name, sex, hometown, age) values('014', '张三', '男', '浙江', 24);"
sql2 = "update students set age = 24 where studentNo = '014';"
sql3 = "delete from students where studentNo = '014';"

# 确保finally可以正常识别conn和cursor，以便关闭
conn = None
cursor = None

try:
    conn = pymysql.connect(host="aliyun", port=3306, user="chen", passwd="Cjl232032.", db="test_db",
                           charset="utf8")
    cursor = conn.cursor()
    cursor.execute(sql)
    print(f'影响行数: {conn.affected_rows()}')
    # 提交事务
    conn.commit()
    # cursor.execute(sql)
    res = cursor.fetchall()
    print(res)
except Exception as e:
    print(f"插入数据错误:{str(e)}")
    # 事务回滚
    conn.rollback()
finally:
    cursor.close()
    conn.close()

#### 封装工具类

In [ ]:
import pymysql


class DBUtils(object):
    conn = None

    @classmethod
    def __get_conn(cls):
        if cls.conn is None:
            cls.conn = pymysql.connect(host='aliyun', port=3306, user='chen', passwd='Cjl232032.',
                                       db='test_db', charset='utf8')
        return cls.conn

    @classmethod
    def __close_conn(cls):
        if cls.conn is not None:
            cls.conn.close()

    @classmethod
    def query_one(cls):
        pass

    @classmethod
    def uid_db(cls):
        pass

- 向 t_book 表插入一本书，书名为《Python从入门到放弃》，阅读量为50，评论量为0，发布日期为：2020-01-01
- 测试工程师发现一个bug，该书的评论数与实际不符，要求你把评论量修改为修正后的值：250
- 老板投资了Python，觉得这本书名太不吉利，需要下架，请删除这本书。
- 你删除后，心中不放心到底有没有删除，想确认是否真正删除了，你需要怎么做？

In [ ]:
from utils.DBUtils import DBUtils

db = DBUtils()
# sql = "insert into t_book(book_name,read_volume,comments,date) values ('《Python从入门到放弃》',50,0,'2020-01-01');"
# sql = "update t_book set comments = 250 where book_name = '《Python从入门到放弃》';"
# delete = "DELETE FROM t_book where book_name = '《Python从入门到放弃》';"
sql = "select * from t_book;"
uid = db.uid_db(sql)

select = DBUtils.query_one(sql)
# print(uid)
print(select)